<div id="currency_conversions">
  <% @currency_conversions.each do |currency_conversion| %>
    <%= render currency_conversion %>
    <p>
      <%= link_to "Show this currency conversion", currency_conversion %>
    </p>
  <% end %>
</div>