/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrapper-container {
    padding-left: 6rem;
    padding-right: 6rem;
    width: 100%;
}

.hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.w-full {
    width: 100%;
}

.hero-form {
    width: 100%;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-form-content {
    justify-content: center;
    align-items: center;
}

.page-all {
    padding-left: 3rem;
    padding-right: 3rem;
}

.all-conversion {
    display: flex;
    flex-direction: column;
}

.all-currencies {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.all-new {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}
